/* src/styles/Home.module.css */

/* Scroll Container */
.scrollContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1000px;
    /* Adjust height as needed */
    margin: 20px 0;
}

.scrollImages {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    /* Make the width 100% */
    height: 100%;
    /* Make the height 100% */
}

.scrollImage {
    flex: 0 0 100%;
    /* Each image takes 100% width */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Hide overflow */
}

/* Ensure Image takes up entire container without cropping */
.scrollImage img {
    object-fit: cover;
    /* Use 'contain' to prevent cropping */
    width: 100%;
    height: 100%;
}

/* Scroll Buttons */
.scrollButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.scrollButton.left {
    left: 10px;
}

.scrollButton.right {
    right: 10px;
}


.cardSection {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.legacySection {
    margin: 40px 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.legacyTitle {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.legacyJerseyRow {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.jerseyCard {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.jerseyCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImage {
    border-radius: 8px;
}

.cardTitle {
    font-size: 1em;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.cardPrice {
    color: #777;
    margin-bottom: 15px;
}

.addToCartButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.addToCartButton:hover {
    background-color: #005bb5;
}

.viewMoreButton {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.viewMoreButton:hover {
    background-color: #005bb5;
}